/************************************************************************************************************
                                           External Fonts 
 **********************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/************************************************************************************************************
                                           Global Variables 
 **********************************************************************************************************/

:root {
  /* dark shades of primary color */
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);

  /* primary/main color */
  --clr-primary-5: #49a6e9;

  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);

  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;

  /* font family, spacing, shadow, radius & width */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/************************************************************************************************************
                                           Global Styles 
 **********************************************************************************************************/

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 1rem;
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }
}

/************************************************************************************************************
                                           Header Styles 
 **********************************************************************************************************/
.container {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo-area {
  display: flex;
  justify-content: space-between;
  width: 30%;
  overflow: hidden;
}

.logo-area .logo {
  width: 4rem;
}

.logo-area .nav-toggle {
  display: none;
}

.menu-area {
  width: 70%;
}

.menu-area ul {
  display: flex;
  justify-content: flex-end;
}

.menu-area ul li a {
  display: block;
  padding: 0 1.75rem;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--clr-primary-2);
  letter-spacing: var(--spacing);
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url("./hero-bcg.jpeg") no-repeat 0 / cover;
}

.intro {
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.intro h1 {
  text-transform: uppercase;
}
.intro p {
  color: var(--clr-white);
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  padding: 0.4rem 1.2rem;
  display: inline-block;
  letter-spacing: var(--spacing);
  transition: 0.4s;
}

.btn:hover {
  color: var(--clr-primary-4);
  background-color: var(--clr-white);
}

@media all and (max-width: 768px) {
  .container {
    display: inherit;
  }
  .logo-area {
    width: 100%;
    background-color: var(--clr-white);
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.75rem 0;
  }
  .logo-area .nav-toggle {
    display: block;
    padding: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .menu-area {
    background-color: var(--clr-white);
    position: fixed;
    left: 0;
    top: 79px;
    width: 100%;
    text-indent: 10px;
    display: none;
  }
  .toggle {
    display: block;
  }
  .menu-area ul {
    flex-direction: column;
  }

  .menu-area ul li:not(last-child) {
    border-bottom: 1px solid var(--clr-primary-2);
  }
  .menu-area ul li a {
    color: var(--clr-primary-1);
    padding: 1.25rem 0;
  }
}

.common-section {
  height: 500px;
  text-align: center;
}

#about {
  background-color: var(--clr-grey-6);
}
#tours {
  background-color: tomato;
}

footer {
  text-align: center;
  padding: 5rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--clr-white);
  color: var(--clr-primary-2);
}
